body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
}

.wrapper {
    width: 80%;
    margin: auto;
    max-width: 1200px;
}

/* End Common Section */

header {
    overflow: hidden;
}

header h1 {
    float: left;
    color: #444;
    font-size: 1.6rem;
}

nav {
    float: right;
}

nav ul li {
    list-style: none;
    float: left;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #444;
}

nav ul li a:hover {
    color: #999;
}

/* End Navigation Section */

section::after {
    content: " ";
    display: block;
    clear: both;
}

section div.container img {
    width: 33.33%;
    float: left;
    opacity: 1;
    box-sizing: border-box;
    border: 1px solid transparent;
    transition: opacity 0.5s;
}

section div.container img:hover {
    opacity: 0.7;
}

section {
    margin-bottom: 3%;
}

section h2 {
    text-align: center;
}

footer {
    overflow: hidden;
    text-align: center;
    padding-bottom: 10px;
}

footer p {
    font-weight: bold;
}